.background {
  position: relative;
  height: var(--width);
  width: var(--width);
}

.overlay {
  position: relative;
  width: calc(var(--width) * (4 / 5));
  height: calc(var(--width) * (4 / 5));
  padding: calc(var(--width) / 26) calc(var(--width) / 18);
  border-radius: calc(var(--width) / 1080 * 50);
}

.to {
  font-size: calc(var(--width) / 30);
  margin-top: calc(var(--width) / 20);
  margin-bottom: calc(var(--width) / 25);
}

.header {
  > .triam {
    font-size: calc(var(--width) / 23);
  }

  > .openhouse {
    font-size: calc(var(--width) / 31);
    line-height: 100%;
  }
}

.content > .story {
  margin-left: calc(var(--width) / 40);

  > .name {
    font-size: calc(var(--width) / 20);
    margin-bottom: calc(var(--width) / 35);
  }

  > .text {
    font-size: calc(var(--width) / 42.5);
    color: #ddd;
  }
}

.contact {
  > .method {
    font-size: calc(var(--width) / 55);
    margin-top: calc(var(--width) / 80);

    .vector {
      width: calc(var(--width) / 40);
      height: calc(var(--width) / 40);
    }
  }
}

.qr-text {
  font-size: calc(var(--width) / 65);
  margin-top: calc(var(--width) / 75);
}

.vertical {
  position: absolute;
  top: calc(var(--width) / 26);
  right: calc(var(--width) / 18);
  display: flex;
  flex-direction: column;
  align-items: center;

  > .ticket-number {
    writing-mode: vertical-rl;
    height: calc(var(--width) * (3 / 5));
    font-size: calc(var(--width) / 50);
    color: #eee;
    @apply font-mono;
    @apply tracking-wider;
  }
}
